* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  min-width: 370px;
  max-width: 1150px;
  width: 96%;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__input-search .input-search__container{
  margin-top: 10px;
  display: grid;
  place-items: center;
}
.section__input-search input {
  padding: 8px;
  border: 1px solid #373a3c;
  outline: none;
  border-radius: 10px;
}
.section__input-search button {
  outline: none;
  padding: 8px;
  background-color: #66afe9;
  border: none;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
}

#options-nav {
  display: flex;
  gap: 20px;
}
#options-nav li{
  list-style: none;
}
#icon-user {
  cursor: pointer;
}

#main__banner {
  padding: 30px 0;
  text-align: center;
  background-color: #5CB85C;
  color: white;
}
#main__banner h1{
  margin-bottom: 10px;
}

#profile-icon {
  display: none;
}

.section-post-favorites h3, .section-post-now h3 {
  font-size: 24px;
  padding: 14px 5px;
}
.container-posts {
  display: flex;
  height: 350px;
  padding: 10px 10px;
  margin-bottom: 20px;
  gap: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.container-posts .post{
  max-width: 270px;
  min-width: 200px;
  height: 330px;
  scroll-snap-align: center;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(89 73 30 / 0.16);
  overflow: hidden;
}
.container-posts .post img {
  width: 100%;
}
.container-posts .post_info {
  padding: 8px;
  cursor: pointer;
}
.container-posts h4 {
  font-size: 20px;
  padding: 8px 0;
}
.container-posts p {
  color: #999;

}

.show-all-categories h3{
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}
.show-all-categories .categories-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.show-all-categories p {
  display: inline-block;
  background-color: #1377d091;
  color: aliceblue;
  padding: 8px 10px;
  border-radius: 17px;
}

.news-category .news-category__post {
  padding: 10px;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
.news-category .post__info h4{
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 18px;
}
.news-category .post__info {
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}
.news-category .post__info p{
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #999;
}
.news-category .post__info-category {
  display: inline-block;
  letter-spacing: 2px;
  padding: 4px;
  border: 2px solid green;
  border-radius: 12px;
}
.news-category .post__info-labels {
  display: flex;
  justify-content: space-between;
}
.news-category .post__info-labels .labels-container p {
  font-size: 14px;
  padding: 3px;
  border: 1px solid #999;
  color: #999;
  border-radius: 14px;
}
.news-category .post__info-labels .labels-container {
  display: flex;
  gap: 5px;
}

.post-selected .header__background {
  padding: 20px 0;
  background-color: #333333;
  color: white;
}

.post-selected .post-selected__header h3 {
  font-size: 34px;
  color: white;
}
.post-selected__header .post-selected__meta {
  margin: 14px 0;
  display: flex;
  gap: 8px;
}
.post-selected__header .post-selected__meta .meta__avatar {
  display: flex;
  align-items: center;
  gap: 10px;
}
.post-selected__header .post-selected__meta .meta__avatar img {
  border-radius: 50%;
}
.post-selected__header .post-selected__meta .meta__avatar div p{
  font-size: 13px;
}
.post-selected__header .post-selected__meta .meta__favorites {
    display: inline-block;
    padding: 8px;
    color: #5CB85C;
    border: 1px solid #5CB85C;
    border-radius: 14px;
    cursor: pointer;
}
.post-selected .select-fav {
  background-color: #daa52052;
}
.post-selected .select-like {
  background-color: #5cb85c70;
}
.post-selected__header .post-selected__meta .meta__save {
  width: 30px;
  display: grid;
  place-items: center;
  color: goldenrod;
  border-radius: 50%;
  border: 1px solid gold;
  cursor: pointer;
}
.post-selected__header .post-selected__meta .saved {
  background-color: rgba(255, 217, 0, 0.172);
}
.post-selected__header .post-selected__labels {
  display: flex;
  gap: 14px;
  color: antiquewhite;
}
.post-selected .post-selected__info {
  margin-top: 20px;
  color: #373a3c;
}

.section__signup, .section__signin {
  padding: 50px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__signup h2, .section__signin h2 {
  font-size: 35px;
  font-weight: 500;
}
.section__signup p, .section__signin p{
  margin: 10px 0;
  font-size: 13px;
  color: #5CB85C;
  font-weight: 500;
}
.section__signup input, .section__signin input {
  padding: 10px 15px;
  margin-bottom: 10px;
  color: #55595c;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.section__signin button, .section__signup button{
  padding: 8px 10px;
  color: white;
  background-color: #5CB85C;
  outline: none;
  border: none;
  border-radius: 5px;
}
.section__signin input:focus, .section__signup input:focus{
  border-color: #66afe9;
}

.profile__w {
  width: 350px;
  padding: 20px;
  margin: 20px auto;
  border-radius: 14px;
  box-shadow: 0 4px 8px rgba(89 73 30 / 0.16);
  text-align: center;
}
.profile__w h5 {
  font-size: 25px;
  margin-bottom: 10px;
}
.profile__w > div {
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.profile__posts-user .posts__header {
  margin-top: 40px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}
.profile__posts-user .posts__header > div {
  cursor: pointer;
}
.posts__content .post {
  max-width: 270px;
  min-width: 200px;
  height: 330px;
  border-radius: 18px;
  box-shadow: 2px 4px 14px rgba(89 73 30 / 0.16);
  overflow: hidden;
}

.posts__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  gap: 17px;
}
.posts__content .post img {
  width: 100%;
}
.posts__content .post_info {
  height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 15px;
}

#icon-fav {
  color: gold;
  font-size: 32px;
}
#icon-heart {
  color: crimson;
  font-size: 32px;
}

.width-all {
  min-width: 370px;
  max-width: 1150px;
  margin: 0 auto;
  width: 95%;
}